<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<form>
    <label for="fname">First name:</label><br> 
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br> 
    <input type="text" id="lname" name="lname"><br> 
    
    <label for="date" id="dob" name="dob">What is your date of birth?</br> 
    <input type="date"><br> 
    <br><label for="email" id="email" name="email"> What is your email address?</br> 
    <input type="email"><br>

    <br><label for="telephone" id="telephone" name="telephone"> What is your telephone number?</br> 
    <input type="tel">
</form> 


</body>
</html>